<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
      <button class="btn btn-default" type="submit">Login</button>
      </form> 
    </div>
  </div>
</div>

<% if (typeof message !== "undefined"){ %>
  <div class="error-message"><%= message%></div>
<% } %>