<div class="container">
  <div class="row login">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 jumbotron">
      <h2>Login</h2>
      <% if (typeof(message) !== "undefined"){ %>
        <div class="error-message"><%= message %></div>
      <% } %>
      <br>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <br>
      <button class="btn btn-default" type="submit">Login</button>
      </form>
      <br> 
      <div class="sign-up-form-bottom">
        <p style="color: white; text-align:center">Don't have an Account?<a class="text-primary" href="/">Sign Up</a></p>
        <a href="auth/facebook" class="btn btn-block btn-social btn-facebook facebook">
          <span class="fa fa-facebook"></span>
          Sign in with Facebook
        </a>
        <a href="auth/google" class="btn btn-block btn-social btn-google google">
          <span class="fa fa-google"></span>
          Sign in with Google
        </a>
      </div>
      
      
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

