
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center">
             <h1>Welcome to Jester! Find Jokes and Share with Your Friends!</h1>
            </div>
            <div class="col-sm-6">
              <h2>Sign Up</h2>
              <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control">
                  </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="firstName">Name</label>
                  <input type="text" name="firstName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input type="date" name="dob" class="form-control">
                </div>
                
                
                <button class="btn btn-default" type="submit">Sign Up</button>
                <p style="float: right; padding-top: 10px">Already have an account? <a href="/login">Login</a></p>
              </form>
              <% if (typeof message !== "undefined") { %> 
                <div class="error-message"><%= message %></div>
              <% } %>
            </div>
          </div>
        </div>

       
