body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.left-container{
    width: 15vw;
    background-color: rgb(139, 39, 39);
    height: 90vh;
    float: left;
    box-sizing: border-box;
    border-radius: 10px;
    /* border: 10px solid black; */
}

/* Search Label */
.left-container .search-label{
  color: #00B7FF;
}

/* Category Links
.left-container .categories li{
  list-style-type: none;
} */

.right-container{
  background-color: rgb(172, 164, 164);
  float: right;
  padding-top: 15px;
  width: 70vw;
  border-radius: 10px;
}

.right-container .joke{
  font-size: 2em;
}

.right-container .rating{
  
}


