<div class="container left-container">
    <h5><a href="/jokes">All</a></h5>
  <form action="/jokes/search" method="POST">
    <label for="search-input" class="search-label">Search:</label>
    <input id="search-input" type="text" name="search">
    
    <button class="btn" type="submit">Enter</button>
  </form>
  <h5><a href="/categories">Categories</a></h5>
  <h5><a href="#">Rating</a></h5>
  <br>
  <br>
  <br>
  <h5><a href="#">MyJokes</a></h5>
  <form action="/logout" method="post">
    <button class="btn btn-link" type="submit">Logout</button>
  </form>
</div>

<div class="container right-container">
</div>