<div class="container left-container">
  <!-- Link To List All Jokes -->
  <h5><a id="all-link" href="#">All</a></h5>
  <!-- Search By Rating -->
  <h5><a href="#">Rating</a></h5>
  <!-- Search Bar -->
  <form id="search">
    <label for="search-input" class="search-label">Keyword Search:</>
    <input id="search-input" type="text" name="search">
    <button class="btn" type="submit" id="search-button">Enter</button>
  </form>
  
  <!-- Categories Dropdown Menu -->
  <div class="dropdown" aria-labelledby="dropdownMenuButton">  
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Categories
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu categories">
      <ul>
      <% categories.forEach((category)=>{ %>
        <li>
        <a class="dropdown-item" id="<%= category %>" href="#"><%= category %></a>
        </li>
     <% }) %>
      </ul>
    </div>
  </div>
  
  
  <br>
  <br>
  <br>
  <h5><a href="#">MyJokes</a></h5>
  <form action="/logout" method="post">
    <button class="btn btn-link" type="submit">Logout</button>
  </form>
</div>

<div class="container right-container">
</div>